*{
    margin: 0;
}

#grid-wrapper{
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;

    grid-template-areas: 
        "he"
        "bo"
        "fo"
    ;
    background-image: url(../img/background/resturang-bakgrund.jpg);
    background-size: cover;
}

#background{
    background-size: cover;
    grid-area: bo;
    background-position: center bottom;
    background-image: url(../img/background/background-main.jpg);
    height: 100vh;
    padding: 50px;
    
    display: grid;
    grid-template-columns: 2fr 0fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "we ."
        "co ."
    ;
        
}

#text-square{
    display: flex;
    height: 100px;
    width: 400px;
    background-color: rgb(255, 245, 225);
    grid-area: we;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

#text-square-2{
    display: flex;
    grid-area: co;
    height: 100px;
    width: 350px;
    background-color: rgb(255, 245, 225);
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    display: grid;
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 2fr ;
    grid-template-areas: 
        "te bu"
        "te2 bu"
    ;
}

#book-now:hover{
    height: 55px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

#text-in-square-2{
    grid-area: te;
    padding-top: 15px;
    padding-left: 15px;
}

#text-2-in-square-2{
    grid-area: te2;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-right: 5px;
}

#book-now{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: bu;
    height: 50px;
    width: 100px;
    border: 3px solid black;
    border-radius: 8px;
}

#main-page{
    text-decoration-line: underline;
}

#animal-page{
    text-decoration-line: underline;
}

#resturant-page{
    text-decoration-line: underline;
}

header{
    background-color: rgb(255, 245, 225);
    grid-area: he;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid black;
    height: 77px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 90%;
    color: rgb(20, 105, 17);
    transition: 0.5s;
}

#menu{
    display: grid;
    height: 1fr;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 500px);
    row-gap: 50px;
    column-gap: 100px;
}

.food{
    background-color: rgb(255, 245, 225);
    border-style: solid;
    padding: 10px;
}

p{
    text-align: justify;
    padding: 5px;
}

.food-picture{
    height: 250px;
    padding: 13px;
}

.food-picture:hover{
    transition-duration: 0.4s;
    border-radius: 20px;
    transform: scale(1.4);
}

#flex-parent-resturant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.food-headline{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.footer-gridwrapper{
    grid-area: fo;
    background-color: rgb(255, 245, 225);
    padding-left: 5px;
    padding: 5px;
    border-top: 3px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
      "in co op lo"  
      "textin textco textop lo"
    ;
}

#information{
    grid-area: in;
}

#contact-details{
grid-area: co;
}

#openhours{
grid-area: op;
}

#logo-place{
    grid-area: lo;
}

#information-text{
    grid-area: textin;
}

#contact-details-text{
    grid-area: textco;
}

#openhours-text{
    grid-area: textop;
}

#logo-place{
    display: flex;
    align-items: center;
}

#logo-place img{
    grid-area: lo;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#grid-wrapper-animal-page{
    display: grid;
    height: 150vh;
    background-image: url(../img/background/background-animals.jpg);
    background-size: cover;

    
    grid-template-columns: 1.75fr 1.2fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.75fr;
    grid-template-areas: 
    "pi pi te"
    "te2 pi2 pi3"
    "te4 te4 pi3"
    ;
}

#monkey-picture{
    grid-area: pi;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#monkey-picture img{
    height: 300px;
    margin: 50px;
}

#monkey-text{
    grid-area: te;
    height: 260px;
    margin-top: 50px;
    margin-right: 50px;
}

#hippo-text{
    grid-area: te2;
    margin: 50px;
    height: 295px;
}

#hippo-picture{
    grid-area: pi2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hippo-picture img{
    width: auto;
}

#giraff-picture{
    grid-area: pi3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#giraff-picture img{
    height: 637px;
    margin-bottom: 10px;
}

#giraff-text{
    grid-area: te4;
    margin-left: 50px;
    margin-bottom: 65px;
}

.giraffe-text-gridwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "teg1 teg2"
    ;
}

#first-giraffe-text{
    grid-area: teg1;
    margin-right:15px;
}

#second-giraffe-text{
    grid-area: teg2;
    margin-left: 15px;
}

.animal-headlines{
    text-decoration: underline;
    padding: 10px;
    padding-bottom: 15px;
}

.animal-text{
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 245, 225, 0.5);
}