*{
    margin: 0;
}

#grid-wrapper{
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;

    grid-template-areas: 
        "he"
        "bo"
        "fo"
    ;
}

#background{
 
    background: url(..//img/background/background.jpg) no-repeat center fixed;
    background-size: cover;
    grid-area: "bo";
    background-color: antiquewhite;
    background-position: center center;
}

#main-page{
    text-decoration-line: underline;
}

#animal-page{
    text-decoration-line: underline;
}

#resturant-page{
    text-decoration: underline;
}

#information-page{
    text-decoration-line: underline;
}

header{
    background-color: rgb(255, 245, 225);
    grid-area: "he";
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid black;
    height: 77px;
}

body{
height: 100vh;
grid-area: bo;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    opacity: 100%;
    color: rgb(0,133,102);
}

#meny{
    display: grid;
    height: 1fr;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 500px);
    gap: 50px;
}

.mat{
    background-color: aquamarine;
    padding: 10px;
}

#flex-parent-resturant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    grid-area: "fo";
    background-color: aqua;
}