*{
    margin: 0;
}


header{
    background-color: blue;
    height: 100px;
}

body{
    background-image: url(..//img/background/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}